@media screen and (max-width: 1199px){
    .write-your-blog h2{
        font-weight: 600;
    }

    .blog-title button{
        font-size: 14px;
    }

    .blog-title button i{
        font-size: 14px;
    }
}

@media screen and (max-width: 991px){
    .blackink-logo{
        width: 90px !important;
    }

    .top-titles .top-title-one{
        font-size: 2.5rem;
    }
    
    .top-titles .top-title-two{
        font-size: 4.75rem;
    }

    .top-titles .top-title-three{
        font-size: 1.15rem;
    }

    .home-image img{
        max-width: 80% !important;
    }

    .search-blog-btn{
        font-size: 16px;
    }

    .blog-buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .blackink-logo{
        width: 80px !important;
    }

    .top-titles .top-title-one{
        font-size: 2.30rem;
    }
    
    .top-titles .top-title-two{
        font-size: 4.5rem;
    }

    .top-titles .top-title-three{
        font-size: 1.10rem;
    }

    .home-image img{
        max-width: 90% !important;
    }

    .search-bar{
        width: 80%;
    }

    .search-bar input{
        width: 80%;
        height: 35px;
        font-size: 18px;
    }

    .search-blog-btn{
        width: 25%;
        font-size: 14px; 
        height: 35px;
    }
}

@media screen and (max-width: 575px){
    .blackink-logo{
        width: 70px !important;
    }

    .top-titles .top-title-one{
        font-size: 2.10rem;
    }
    
    .top-titles .top-title-two{
        font-size: 4.20rem;
    }

    .top-titles .top-title-three{
        font-size: 1rem;
    }

    .home-image img{
        max-width: 80% !important;
    }

    .search-bar{
        width: 80%;
    }

    .search-bar input{
        width: 80%;
        height: 35px;
        font-size: 16px;
    }

    .search-blog-btn{
        width: 25%;
        font-size: 13px; 
        height: 35px;
    }

    .blog-title{
        flex-direction: column;
    }
}

@media screen and (max-width: 438px){
    .blog-buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 481px){
    .blackink-logo{
        width: 60px !important;
    }

    .top-titles .top-title-one{
        font-size: 1.80rem;
    }
    
    .top-titles .top-title-two{
        font-size: 3.75rem;
    }

    .top-titles .top-title-three{
        font-size: 0.90rem;
    }

    .home-image img{
        max-width: 80% !important;
    }

    .search-bar{
        width: 85%;
    }

    .search-bar input{
        height: 30px;
        font-size: 14px;
    }

    .search-blog-btn{
        width: 30%;
        font-size: 13px; 
        height: 30px;
    }

    .blog-poster{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 392px){
    .write-your-blog h2{
        font-size: 1.15rem;
    }

    .write-your-own-btn{
        flex-direction: column;
        justify-content: center;
    }

    .write-your-own-btn button{
        width: 100%;
    }
}

@media screen and (max-width: 385px){
    .blackink-logo{
        width: 55px !important;
    }

    .top-titles .top-title-one{
        font-size: 1.60rem;
    }
    
    .top-titles .top-title-two{
        font-size: 3.50rem;
    }

    .top-titles .top-title-three{
        font-size: 0.80rem;
    }

    .home-image img{
        max-width: 85% !important;
    }

    .search-bar{
        width: 85%;
    }

    .search-bar input{
        height: 30px;
        font-size: 12px;
    }

    .search-blog-btn{
        width: 30%;
        font-size: 11px; 
        height: 30px;
    }
}

@media screen and (max-width: 320px){
    .blackink-logo{
        width: 50px !important;
    }

    .top-titles .top-title-one{
        font-size: 1.40rem;
    }
    
    .top-titles .top-title-two{
        font-size: 3rem;
    }

    .top-titles .top-title-three{
        font-size: 0.70rem;
    }

    .home-image img{
        max-width: 90% !important;
    }

    .search-bar input{
        height: 30px;
        font-size: 11px;
    }

    .search-blog-btn{
        width: 30%;
        font-size: 11px; 
        height: 30px;
    }

    .write-your-blog h2{
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 272px){
    .write-your-blog h2{
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 230px){
    .blog-buttons  button{
        font-size: 14px;
    }
}

@media screen and (max-width: 210px){
    .blog-buttons  button{
        font-size: 12px;
    }
}
